.col-md-6 img{
    height: 300px;
}
.certificate img{
    height:100px;
    

}
html{
    scroll-behavior: smooth;
}
body{
    scroll-behavior: smooth;
}
.fa{
    font-size: 25px;
}
.home-img img{
    height: 300px;
    width:300px;
}
.ok li:hover{
    background-color:#3B71CA;
    border-radius: 10px;
    color: aliceblue;
    
}
*{
    margin:0px;
}
