@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Poppins:ital,wght@0,200;0,400;1,100;1,200&family=Roboto:wght@100&display=swap');


/* .navbar{
    position:sticky;
    top: 0;
    background-color: ;
} */

html{
    scroll-behavior: smooth;
}
.navbar .navbar-brand{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
   
}
.navbar-nav .nav-item .nav-link{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color:white;
   
}
.navbar-nav .nav-item .nav-link:hover{
    font-size: 15px;
}


.scrolled-navbar {
    background-color: black!important;
    transition: black 0.3s ease !important; /* Adjust the transition duration as needed */
    color:white;
    padding:0.2rem;
  }
 .mypic img{
    height:400px;
    width:300px;
   align-items: center;
 }

.butt:hover{
    background-color: rgb(41, 38, 38);
    color:white;
}
.container-fluid{
    width:100%;
    background-color: black;
    height: 300px;
}
footer{
    background-color: black;
}
